<div class="container">
    <div class="main">
        <div class="content">
            <div class="content-left">
                <h3 class="content-title">Hi, I am Dung, <br>
                    Creative Technologist</h3>
                <span class="content-text">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </span>
                <button class="content-btn">
                    Download Resume
                </button>
            </div>
            <div class="content-right">
                <div class="content-avatar">
                    <img src="https://i.pinimg.com/236x/8b/19/6e/8b196ec06c2eeed9343e81b13334401a.jpg" alt="Le thi dung">
                </div>
            </div>
        </div>
    </div>
</div>